
.vs/Interactive Storytelling/v15/.suo
*.lock
.vs/Interactive Storytelling/v15/Server/sqlite3/db.lock
.vs/Interactive Storytelling/v15/Server/sqlite3/storage.ide
.vs/Interactive Storytelling/v15/Server/sqlite3/storage.ide-shm
.vs/Interactive Storytelling/v15/Server/sqlite3/storage.ide-wal